/* FONTS TO BE INCLUDED IN THIS PROJECT */

@font-face {
    font-family: 'edition';
    src: url("./assets/fonts/edition.TTF") format('truetype');
}

@font-face {
    font-family: 'pacifico';
    src: url("./assets/fonts/pacifico.ttf") format('truetype');
}

@font-face {
    font-family: 'edition';
    src: url("./assets/fonts/edition.TTF") format('truetype');
}

@font-face {
    font-family: 'edition';
    src: url("./assets/fonts/edition.TTF") format('truetype');
}